<% include partials/header %>

<form method="POST" action="/todos/update/<%= doc._id %>">
  
   <label>Company name: </label> <input type="text" name="company" value="<%= doc.company %>"><br>
   
   	<label>Municipality </label>
	<select id ="municipality2" name="municipality">
	<option value ="gjakove" >Gjakove </option>
	<option value ="mitrovice" >Mitrovice </option>
	<option value ="prishtine" >Prishtine </option>
	<option value ="gjilan" >Gjilan</option>
	<option value ="ferizaj" >Ferizaj </option>
	<option value ="prizren" >Prizren</option>
	<option value ="peje" >Peje</option>
 </select>
 
	<label>Password </label><input type="password" name="password" value="<%=doc.password %>" > <br>
	<label>Bussines registration number </label><input type="text" name="bussiness" value="<%= doc.bussiness %>" ><br>
	<label>Company address</label> <input type= "text" name="cadress" value="<%= doc.address %>">  <br>
 <label>Email </label> <input type ="email" name="email" value="<%= doc.email %>">  <br>
 <label>Website</label><input type="text" name ="web" value="<%= doc.link %>">  <br>
 <label>Bussiness description</label> <textarea name="desc"><%= doc.description %> </textarea>
	
   </div>
   <button type="submit">Save</button>
</form>

<script>
document.getElementById('municipality2').value="<%= doc.municipality %>";
</script>


<% include partials/footer %>

